@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

main{
    height: 87vh;
}
nav,footer,.mainDiv{
    width: 100%;
}

.formContact{
    max-width: 80vw;
    border-radius: 1px;
}
h2{
    font-size: 45px;
    font-family: 'Fira Sans', sans-serif;
}
table{
    width: 80vw !important;
}