@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

main{
    min-height: 87vh;
}
nav,footer,.mainDiv{
    width: 100%;
}

.formContact{
    max-width: 80vw;
    border-radius: 1px;
}
h2{
    font-size: 45px;
    font-family: 'Fira Sans', sans-serif;
}
table{
    width: 80vw !important;
}
.rowForm{
    width: 80%;
    height: 3rem;
}
.mainIndex .form-check{
    width: 7rem;
}
.rowCards{
    min-height: 80vh !important;
}
.card img{
    height: 10rem;
}
.card{
    width: 15rem;
    box-shadow:  0.3em 0.3em 1em rgba(230, 230, 230, 0.76);
}
.btn{
    background-color: #d90368;
    color: white;
}
.btn:hover{
    background-color: black;
    color: white;
}