@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 88vh !important;
}
body {
  height: 100vh;
}
nav {
  min-height: 5vh !important;
}
footer {
  min-height: 7vh;
  z-index: 1;
}
nav,
footer,
.mainDiv {
  width: 100%;
}

.formContact {
  max-width: 80vw;
  border-radius: 1px;
}
h2 {
  font-size: 45px;
  font-family: "Fira Sans", sans-serif;
}
table {
  width: 80vw !important;
}
.rowForm {
  width: 80%;
  height: 3rem;
}
.mainIndex .form-check {
  width: 7rem;
}
.rowCards {
  min-height: 80vh !important;
}
.imgCard {
  height: 10rem;
}
.card {
  width: 15rem;
  box-shadow: 0.3em 0.3em 1em rgba(230, 230, 230, 0.76);
  min-height: 25rem;
}
.btn {
  background-color: #d90367;
  color: white;
}
.boton{
  width: 6.7rem;
  padding: 0;
}
.btn:hover {
  background-color: black;
  color: white;
}
.imgDetails {
  min-width: 27rem;
}
caption {
  background-color: black;
  color: white;
}
